.wrapper {
  margin-top: 2rem;
}

/* HEADER */
.header {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: var(--primary);
  letter-spacing: 0.20em;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* DESCRIPTION CARD */
.descriptionBox {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(28px);

  border-radius: 1.6rem;
  border: 1px solid rgba(255, 255, 255, 0.06);

  padding: 1.4rem;
  position: relative;
}

/* DESCRIPTION TEXT */
.text {
  font-size: 0.95rem;
  color: rgba(255, 255, 255, 0.85);
  line-height: 1.55;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  overflow: hidden;
  transition: all 0.3s ease;
}

.text.open {
  -webkit-line-clamp: unset;
  overflow: visible;
}

/* READ MORE BUTTON */
.readMore {
  margin-top: 1rem;

  background: none;
  border: none;

  cursor: pointer;

  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: var(--primary);

  display: flex;
  align-items: center;
  gap: 4px;

  transition: color 0.25s ease;

  span {
    font-size: 16px;
  }

  &:hover {
    color: white;
  }
}
