.cards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
    overflow: hidden;
}
.container{
    height:auto;
    width: 18rem;
    display: flex;
    flex-direction: column;
    // border: 0.1px solid white;
    border-radius: 0.8rem;
    cursor: pointer;
}
.imgcont img{
    border-radius: 0.8rem;
}
.imgcont{
    margin-bottom: 0.1rem;
}
.userinfo{
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
}
.userimg img{
    border-radius: 50%;
}
.creatorname{
    font-size: 1rem;
}
.videotitle{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.views{
    font-size: 1rem;
    opacity: 0.8;
}
