.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
    overflow-y: hidden;
    align-content: flex-start;
}
.container{
    height:auto;
    width: auto;
    display: flex;
    flex-direction: column;
    // border: 0.1px solid white;
    border-radius: 0.8rem;
    cursor: pointer;
}
.imgcont img{
    border-radius: 0.8rem;
}
.imgcont{
    margin-bottom: 0.1rem;
}
.userinfo{
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
}
.userimg img{
    border-radius: 50%;
}
.creatorname{
    font-size: 1rem;
}
.videotitle{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.views{
    font-size: 1rem;
    opacity: 0.8;
}

@media screen and (max-width:420px){
    .cards{
        justify-content: center;
        min-width: auto;
    }
    
}
