// .container {
//   position: fixed;
//   top: 20px; 
//   right: 20px;
//   display: flex; 
//   flex-direction: column;
//   gap: 12px;
//   z-index: 9999; 
//   pointer-events: none;
// }
.toastContainer {
  position: fixed;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  pointer-events: none;
}
