.playerWrapper {
  width: 100%;
  max-width: 86rem;
  aspect-ratio: 16 / 9;

  padding: 0.8rem;
  border-radius: 2.5rem;

  margin: 0 auto;

  position: relative;
}

/* Inner container */
.inner {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
}

/* VIDEO */
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ================
   Hover Overlay
   ================ */
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6),
    transparent,
    transparent
  );

  opacity: 0;
  transition: 0.35s ease;
  display: flex;
  align-items: flex-end;
  padding: 2rem;
}

.inner:hover .overlay {
  opacity: 1;
}

/* VIDEO CONTROLS */
.controls {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.2rem;

  span {
    font-size: 2rem;
    cursor: pointer;
    transition: 0.25s ease;

    &:hover {
      color: var(--primary);
    }
  }
}

/* TIMELINE */
.timeline {
  flex: 1;
  height: 6px;
  background: rgba(255,255,255,0.2);
  border-radius: 999px;
  position: relative;
}

.progress {
  height: 100%;
  width: 35%;
  background: var(--primary);
  border-radius: 999px;
  box-shadow: 0 0 12px rgba(164, 19, 236, 1);
}
