.topnav{
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}


.topicon{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
.icontext{
    font-size: 1.2rem;
    font-weight: 600;
}