.toplogo{
    padding: 0.5rem;
}
.logotext{
    padding: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1.2rem;
}
.homesideitems{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.5rem; 
    margin-bottom: 0.2rem;
}
.homesideitems:hover{
    background-color: rgb(66, 66, 121);
    border-radius: 0.5rem;
    cursor: pointer;
    
}

.toggleitem{
    background-color: rgb(207, 207, 211);
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 10rem;
    gap: 0.8rem;
    padding: 0.5rem; 
    position: absolute;
    bottom: 1rem;
    

}