.meta {
  width: 100%;
}

/* ========== TOP ROW ========== */
.top {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.6rem;
}

.category {
  padding: 6px 14px;
  border-radius: 999px;

  font-size: 0.65rem;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  background: rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(164, 19, 236, 0.35);
  color: var(--primary);

  backdrop-filter: blur(14px);
}

.published {
   font-size: clamp(0.65rem, 2vw, 0.75rem);
  color: rgba(255, 255, 255, 0.55);
}

/* ========== MAIN TITLE ========== */
.title {
  font-size: clamp(1.4rem, 4vw, 2.4rem);
  font-weight: 700;
  margin-bottom: 1.2rem;
  line-height: 1.25;

  .hash {
    color: rgba(164, 19, 236, 0.5);
  }
}

/* ========== CHANNEL ROW ========== */
.channelRow {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 999px;

  background-size: cover;
  background-position: center;

  border: 2px solid rgba(164, 19, 236, 0.25);
}

.channelInfo {
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 1rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;

    &:hover {
      color: var(--primary);
    }
  }

  p {
    font-size: 0.63rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
    letter-spacing: 0.12em;
    text-decoration: none;
  }
}

.channelInfo a {
  text-decoration: none;
}

.subscribe {
  margin-left: auto;
  padding: 8px 24px;
  font-size: 0.85rem;
  font-weight: 700;
  border-radius: 999px;
  cursor: pointer;
  border: none;
  transition: 0.25s ease;

  background: white;
  color: black;

  &:hover {
    background: var(--primary);
    color: white;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

/* SUBSCRIBED STATE */
.subscribed {
  background: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);

  &:hover {
    background: rgba(255, 255, 255, 0.08);
  }
}

.subscribe {
  margin-left: auto;
}

@media (max-width: 480px) {
  .subscribe {
    margin-left: 0;
    width: 100%;
    justify-content: center;
  }
}

