.sidebar {
  position: absolute;
  right: 5px;
  bottom: 190px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;

  z-index: 20;
}

.actionBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  width: 68px;
  padding: 14px 12px;

  border-radius: 18px;

  /* 👇 Better contrast glass */
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  border: 1px solid rgba(255, 255, 255, 0.15);

  color: white;
  cursor: pointer;

  transition: all 0.25s ease;
}

// .actionBtn:hover {
//   background: rgba(0, 0, 0, 0.75);
//   transform: scale(1.07);
// }

.count {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

/* Views Button slightly different */
.viewsBtn {
  background: rgba(0, 0, 0, 0.65);
}

/* LIKE ACTIVE */
.active {
  background: linear-gradient(145deg, #ff2e63, #ff5f8f);
  border: none;
}

/* DISLIKE ACTIVE */
.activeDislike {
  background: linear-gradient(145deg, #4b5563, #6b7280);
  border: none;
}