.masonry {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 2rem;
  
}
 
@media (min-width: 768px) {
  .masonry {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 0.5rem 4rem 1rem;
    margin-bottom: 0rem;
    
  }
}

 
@media (min-width: 1200px) {
  .masonry {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 0.5rem 4rem 1rem;
    margin-bottom: 0rem;
  }
}

@media (min-width: 1600px) {
  .masonry {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 0.5rem 4rem 1rem;
    margin-bottom: 0rem;
  }
}