.masonry {
  width: 100%;
  padding: 0 1rem 4rem 1rem;
  column-gap: 2rem;
}

.item {
  margin-bottom: 2rem;
  width: 100%;
}

.loading {
  padding: 2rem;
  text-align: center;
  font-size: 1rem;
  opacity: 0.7;
}
