// .divCenter{
//     max-width: 480px;
//     margin: auto;
//     border: 2px solid white;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-top: 1rem;
//     margin-bottom: 2rem;
//     min-height: calc(100vh - 5rem);
//     overflow-y: hidden;
    
// }

 

.divCenter {
  flex: 1;
  width: 100%;
  min-height: 100vh;
  // min-height: calc(100vh - 8rem);
  // border: 2px solid red;

  display: flex;
  justify-content: center;

  padding: 0; /* mobile no padding */
  // margin-bottom: 10rem;
}

 

.divCenter > * {
  width: 100%;
}

 

@media (min-width: 768px) {
  .divCenter {
    padding: 0 24px;
  }

  .divCenter > * {
    max-width: 600px;
  }
}

 

@media (min-width: 1024px) {
  .divCenter {
    padding: 0 40px;
  }

  .divCenter > * {
    max-width: 720px;
  }
}

@media (min-width: 1440px) {
  .divCenter > * {
    max-width: 820px;
  }
}