.actionsWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

/* ===========================
   LIKE / DISLIKE BOX
   =========================== */

.likeBar {
  display: flex;
  align-items: center;
  border-radius: 999px;

  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(20px);

  padding: 4px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}


/* LIKE BTN */
.likeBtn,
.dislikeBtn {
  display: flex;
  align-items: center;
  gap: 6px;

  padding: 7px 16px;
  border-radius: 999px;

  background: transparent;
  border: none;
  cursor: pointer;

  color: rgba(255, 255, 255, 0.85);
  font-weight: 600;

  transition: all 0.2s ease;
}


.likeCount {
  font-size: 0.9rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: none;
}


/* DIVIDER */
.divider {
  width: 1px;
  height: 20px;
  background: rgba(255, 255, 255, 0.08);
}

.likeBtn:hover,
.dislikeBtn:hover {
  background: rgba(255, 255, 255, 0.08);
}

.likeBtn span,
.dislikeBtn span {
  font-size: 20px;
}



/* ===========================
   SHARE BUTTON
   =========================== */

.shareBtn {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px 20px;
  border-radius: 999px;

  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(18px);

  border: 1px solid rgba(255, 255, 255, 0.1);

  color: white;
  text-transform: uppercase;
  font-size: 0.65rem;
  font-weight: 700;
  letter-spacing: 0.15em;

  cursor: pointer;
  transition: 0.25s ease;

  span.material-symbols-outlined {
    font-size: 18px;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

.activeLike {
  background: rgba(164, 19, 236, 0.15);

  span {
    color: var(--primary);
    font-variation-settings: "FILL" 1;
    transform: scale(1.05);
    text-shadow: 0 0 14px rgba(164, 19, 236, 0.9);
  }
}


.activeDislike {
  background: rgba(255, 80, 80, 0.15);

  span {
    color: #ff5050;
    font-variation-settings: "FILL" 1;
    transform: scale(1.05);
    text-shadow: 0 0 14px rgba(255, 80, 80, 0.9);
  }
}


.likeBtn:active,
.dislikeBtn:active {
  transform: scale(0.92);
}

@media (max-width: 480px) {
  .actionsWrapper {
    width: 100%;
    justify-content: space-between;
  }

  .shareBtn {
    flex: 1;
    justify-content: center;
  }

  .likeBar {
    flex: 1;
    justify-content: center;
  }
}
